body{
    background: #BDBDBD;
}

label{
    font-weight: bold;
}

.fondo{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center center;
    height: 700px;
    
 
}