<!-- your html code here -->
<div class="container bg-body">
    <div class="row p-5">
        <div class="col-8">
            <div class="d-flex d-row">
                <h1>The First Heading</h1>
                <h1 class="text-secondary ms-2">Will Catch Your Eye</h1>
            </div>
            <p class="fs-5 fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi itaque perspiciatis odit. Repellat nemo recusandae earum impedit architecto consequatur explicabo, mollitia ipsa repudiandae culpa. Aspernatur neque dignissimos aperiam non?</p>
        </div>
        <div class="col-4"><img src="assets/img/1.jpg" class="w-75 rounded-circle" alt="..."></div>
    </div>
</div>
