<!-- your html code here -->
    <div class="row w-75 mx-auto">
        <div class="border-top my-5"></div>
        <div class="col mt-5">
            <h1>Portfolio</h1>
            <p class="fs-5 fw-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam quidem voluptas nostrum dignissimos laborum atque ipsam, velit est repudiandae perferendis, magnam quo fugit accusantium earum possimus dolor tempora in deleniti.</p>
        </div>
    </div>
    <div class="card-group w-75 mx-auto">
        <div class="border-top my-5"></div>
        <div class="card me-2">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="Proy 1">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card me-2">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="Proy 2">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="Proy 3">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>